.parent {
  position: sticky;
  top: 0;
  bottom: 0;
  width: 400px;
  height: 100%;
  max-height: 888px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--background-base);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  overflow-y: auto;
}

.thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.main {
  padding: var(--space-7);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-7);
}

.component {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-3);
  padding: var(--space-4);
}

.footer button {
  width: 100%;
}

.footer div {
  display: flex;
  gap: var(--space-3);
}
