.header {
  width: 100%;
  padding: var(--space-7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.storeProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-3);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.title h2 {
  font-size: var(--font-size-2xl);
  font-weight: 500;
}

.title h3 {
  color: var(--neutral-500);
  font-size: var(--font-size-md);
  font-weight: 400;
}

.storeProfile img {
  width: 50px;
  height: 50px;
  border-radius: var(--radius);
}
