/* Parent Style */
.parent {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-surface);
  border: var(--outline-middle);
  border-top: var(--outline-top);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.main .button {
  width: 100%;
  padding: var(--space-1);
  font-size: var(--font-size-xs);
  text-align: center;
}

.auth {
  padding: var(--space-6);
  width: 90dvw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-7);
  text-align: center;
  background-color: var(--background-base);
  border-radius: var(--radius);
}
.auth .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}
.auth .title h1 {
  font-size: var(--font-size-3xl);
}
.auth .title p {
  font-size: var(--font-size-xl);
  font-weight: 400;
  color: var(--color-secondary);
}
.auth .authSpan {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
}
.auth .authSpan span {
  z-index: 1;
  padding: 0 var(--space-4);
  background-color: var(--background-base);
}
.auth .authSpan div {
  position: absolute;
  width: 100%;
  height: 1px;
  border-bottom: var(--outline-normal);
}

@media (max-width: 512px) {
  .main {
    height: 100dvh;
  }
  .main .button {
    padding: var(--space-5);
  }
  .auth {
    width: 100dvw;
    height: 100%;
    gap: var(--space-9);
  }
}

.oauthButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-4);
}

.oauthButtons button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
}

@media (max-width: 512px) {
  .oauthButtons button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 412px) {
  .oauthButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-4);
  }
  .oauthButtons button {
    width: 100%;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .oauthButtons span {
    display: none;
  }
}
.oauthButtons button img,
.oauthButtons button svg {
  width: 20px;
  height: 20px;
}
.oauthButtons button span {
  flex: 1;
  font-size: var(--font-size-md);
  color: var(--color-primary);
}

.border {
  border-bottom: var(--outline-bottom);
}
.borderTop {
  border-top: var(--outline-middle);
}
.borderBottom {
  border-bottom: var(--outline-middle);
}
