/* Parent Style */
.parent {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-surface);
  border: var(--outline-normal);
  border-radius: var(--radius);
}

.auth {
  width: 320px;
  height: max-content;
  padding: var(--space-3);
  text-align: center;
}
.auth h1 {
  font-size: var(--font-size-lg);
}
.auth a {
  font-size: var(--font-size-sm);
}

.authActive {
  width: 100%;
  padding: var(--space-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-6);
  background-color: var(--background-base);
  border-radius: var(--radius);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: 100%;
}

.form label {
  width: 100%;
  /* padding: var(--space-1); */
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--color-primary);
  border: var(--outline-thin);
  border-radius: var(--sub-radius);
}
.form label:focus-within {
  border: var(--outline-normal);
}

.form label span {
  position: absolute;
  margin: var(--space-3);
  font-size: var(--font-size-md);
  font-weight: normal;
  transition: font-size 0.1s, transform 0.1s;
}

.form input {
  padding: var(--space-3);
  font-size: var(--font-size-md);
  font-weight: normal;
}

/* Form onFocus */
.form label:focus-within span,
.form label input:not(:placeholder-shown) + span,
.form label textarea:not(:placeholder-shown) + span {
  font-size: var(--font-size-xs);
  background-color: var(--background-base);
  transform: translateY(-17px);
}

/* Form Validation With CSS */
.form label:has(input:user-invalid) {
  border: 0.1rem solid var(--color-error);
}

.form button {
  width: 100%;
  padding: var(--space-2);
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--color-foreground);
  background-color: var(--background-surface);
  border: var(--outline-thin);
  border-radius: var(--sub-radius);
}

.oauthButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-4);
}

.oauthButtons button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-foreground);
  background-color: var(--background-surface);
  border: var(--outline-thin);
  border-radius: var(--sub-radius);
}
.oauthButtons button img {
  width: 24px;
  height: 24px;
  margin: var(--space-1);
}

.borderTop {
  border-top: var(--outline-normal);
}

.borderBottom {
  border-bottom: var(--outline-normal);
}
