.parent {
}
.main {
  z-index: 1000;
  position: fixed;
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  background-color: var(--background-base);
  border: var(--outline-middle);
  border-top: var(--outline-top);
  border-radius: var(--radius);
}
