.parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  padding: 0 var(--space-12);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info span {
  padding: var(--space-3) var(--space-3) var(--space-1) var(--space-3);
}

.itemList {
  width: 100%;
  height: max-content;
  max-height: calc(100dvh - 97px);
  padding: var(--space-4);
  flex: 1;
  display: flex;
  flex-direction: column;
  border-top: var(--outline-thin);
  overflow-y: auto;
  user-select: none;
}

.item {
  position: relative;
  width: 100%;
  padding: var(--space-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius);
}
.item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; /* tidak perlu height */
  border-bottom: var(--outline-thin);
}
.item:hover {
  background-color: var(--background-surface);
}

.itemTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-3);
}
.itemTitle img {
  width: 42px;
  height: 42px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--sub-radius);
}
.itemTitle h3 {
  font-size: var(--font-size-md);
  font-weight: 600;
}

.itemDescription {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-3);
}
.itemDescription .date {
  width: 136px;
  text-align: left;
}
.itemDescription button {
  padding: 0 var(--space-1);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}
.itemDescription button:hover {
  background-color: var(--background-hover);
}
.itemDescription svg {
  margin: var(--space-0);
}
