.panelMenu {
  width: 100%;
  padding: var(--space-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-3);
}

.panelMenu div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
}

.button {
  height: var(--space-9);
  padding: var(--space-2) var(--space-2) var(--space-2) var(--space-3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  border: var(--outline-button-secondary);
  border-radius: var(--sub-radius);
  border-width: 2px;
}
.button svg {
  color: var(--color-secondary);
}
.button:hover {
  background: var(--background-button-secondary-hover);
}
.button:active {
  background: var(--background-button-secondary-active);
  border: var(--outline-button-secondary-active);
  border-width: 2px;
}

.pagination button {
  width: var(--space-9);
  height: var(--space-9);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination .buttonForm {
  width: max-content !important;
  color: var(--color-secondary);
  font-weight: 500;
}

.search {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--outline-button-secondary);
  border-radius: var(--sub-radius);
  border-width: 2px;
}
.search label {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search input {
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  padding: 0 0 0 var(--space-3);
  border-radius: var(--sub-sub-radius);
}
.search button {
  width: auto;
  height: 100%;
  padding: var(--space-05);
}
.search button svg {
  width: 100%;
  height: 100%;
  padding: var(--space-05);
  color: var(--color-secondary);
  border-radius: var(--sub-sub-radius);
  transition: color var(--transition-fast),
    background-color var(--transition-fast);
}
.search:focus-within .searchReset {
  display: flex !important;
}
.search:focus-within .searchSubmit svg {
  color: var(--color-foreground) !important;
  background-color: var(--background-button-primary);
}
