.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  width: 100%;
}

.form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--space-3);
  flex: 1;
}

.form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  outline: var(--outline-form);
  border-radius: var(--sub-radius);
  box-sizing: border-box;
  transition: outline var(--transition-fast);
}
.form label:focus-within {
  outline: var(--outline-form-active);
}

.form label span {
  position: absolute;
  margin: var(--space-3);
  font-size: var(--font-size-md);
  font-weight: normal;
  color: var(--color-primary);
  transition: font-size 0.1s, transform 0.1s;
  pointer-events: none;
}

.form input,
.form textarea {
  padding: var(--space-3);
  font-size: var(--font-size-md);
  font-weight: normal;
}

.form textarea {
  max-width: 100%;
  height: 100px;
  resize: none;
}

/* Form onFocus */
.form label:focus-within span,
.form label input:not(:placeholder-shown) + span,
.form label textarea:not(:placeholder-shown) + span {
  font-size: var(--font-size-xs);
  font-weight: 600;
  background-color: var(--background-base);
  transform: translateY(-17px);
}

/* Form Validation With CSS */
.form label:has(input:user-invalid) {
  outline: var(--outline-error);
}
.form label:has(input:user-invalid):focus-within {
  color: var(--color-error);
  outline: var(--outline-error-thick);
}
.error {
  padding: var(--space-0);
  width: 100%;
  color: var(--color-error);
  background-color: var(--background-error);
  border: var(--outline-error);
  border-radius: var(--sub-radius);
}
.formError {
  outline: var(--outline-error);
}
