.itemList {
  position: relative;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-base);
  overflow-y: auto;
}
.item {
  width: 100%;
  padding: var(--space-4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-3);
  border-radius: var(--radius);
  outline-color: var(--blue-500);
  transition: var(--transition-fast);
  position: relative;
}
.item:hover {
  background-color: var(--background-surface);
}
.item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  border-bottom: var(--outline-thin);
}
.item img {
  width: 50px;
  height: 50px;
  border-radius: var(--radius);
}
.item .title {
  height: 100%;
  min-width: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  gap: var(--space-0);
  text-align: left;
}
.item .title h2 {
  width: 100%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.item .title h3 {
  width: 100%;
  color: var(--color-secondary);
  font-size: var(--font-size-xs);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.activeItem {
  background-color: var(--blue-100) !important;
}
.activeItem:hover {
  background-color: var(--blue-100);
}
.activeItem + .activeItem {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.activeItem:has(+ .activeItem) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.selectedItem {
  background-color: var(--blue-50);
  outline: var(--outline-thin);
  outline-color: var(--blue-500);
  z-index: 1;
}
.selectedItem:hover {
  background-color: var(--blue-50);
}

.status {
  padding-right: var(--space-0);
  display: flex;
  align-items: center;
  gap: var(--space-1);
  font-size: var(--font-size-xs);
  font-weight: 500;
  border-radius: var(--full-radius);
}
.status svg {
  color: inherit;
}
.status.open {
  color: var(--color-success);
  background-color: var(--background-success);
}
.status.closed {
  color: var(--color-primary);
  background-color: var(--color-foreground);
}
.status.inactive {
  color: var(--color-error);
  background-color: var(--background-error);
}
