.parent {
  display: flex;
  flex-direction: row;
}

.main {
  padding: 0 var(--space-7) var(--space-7) var(--space-7);
  flex: 1;
}

.creation {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-surface);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.creationMain {
  padding: var(--space-7);
  display: flex;
  flex-direction: column;
  gap: var(--space-7);
  background-color: var(--background-base);
  border-radius: var(--radius);
}

.creation .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}
.creation .title h1 {
  font-size: var(--font-size-3xl);
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
}
.creation .title p {
  font-size: var(--font-size-xl);
  font-weight: 400;
  color: var(--color-secondary);
}
.creation h2 {
  width: 100%;
  font-size: var(--font-size-2xl);
  font-weight: 600;
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-2);
}

.cancel:hover,
.cancel:active {
  color: var(--color-error);
  background-color: var(--background-error);
  border-color: var(--color-error);
}

.submit {
  width: 100%;
}

.error {
  text-align: center;
}
