/* Local Variable */
:root {
  --navbar-open: 250px;
  --navbar-close: 64px;
}

/* Parent Style */
.parent {
  min-width: var(--navbar-close);
  width: 100%;
  max-width: var(--navbar-close);
  height: 100dvh;
  padding: var(--space-3);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: start;
  background-color: var(--background-surface);
  border-right: var(--outline-thin);
  transition: max-width var(--transition-normal);
  /* overflow: hidden; */
}

.parentActive {
  max-width: var(--navbar-open);
}

/* List Style */
.list {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: var(--space-1);
}

.list li,
.list li a,
.list li div {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: var(--space-3);
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.list li span {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
}

/* Button Style */
.icon {
  background-color: #00000000;
  transition: background-color var(--transition-normal);
  border-radius: var(--radius);
}
.icon:hover,
a:hover .icon {
  background-color: var(--background-hover);
}

.icon svg,
.iconActive svg {
  margin: var(--space-1);
  width: var(--space-8);
  height: var(--space-8);
}

.iconActive {
  background-color: var(--background-hover);
  border-radius: var(--radius);
}

/* Custom Style */
.logo {
  margin-bottom: var(--space-1);
  padding-bottom: var(--space-4);
  font-family: var(--font-outfit);
  font-size: var(--font-size-2xl) !important;
  font-weight: bold !important;
  border-bottom: var(--outline-normal);
}

.profile,
.profile div,
.profile span {
  width: 100%;
  padding: 0;

  display: flex;
  flex-flow: row;
  align-items: center;
  gap: var(--space-3);
}

.profile:hover .profilePic {
  background-color: var(--background-hover);
}

.profilePic {
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: #00000000;
  transition: background-color var(--transition-normal);
  border-radius: var(--radius);
}
.profilePic:hover,
.profilePic:hover button {
  background-color: var(--background-hover);
}

.image {
  margin: var(--space-1);
  width: var(--space-8);
  height: var(--space-8);
  aspect-ratio: 1/1;
  border-radius: var(--full-radius);
  background-color: var(--background-hover);
  overflow: hidden;
  cursor: pointer;
}

.dropdownMenuContent {
  margin-bottom: var(--space-1);
}

.isAdmin {
  background-color: var(--orange-100) !important;
}
