.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  width: 100%;
  /* padding-top: 100px; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addButton {
  position: fixed;
  inset: auto var(--space-6) var(--space-6) auto;
  padding: var(--space-2);
  background-color: var(--background-surface);
  border-radius: var(--radius);
  border: var(--outline-middle);
  border-top: var(--outline-top);
  border-bottom: var(--outline-bottom);
  box-shadow: var(--box-shadow);
  transition: background-color var(--transition-normal);
}
.addButton svg {
  width: 32px;
  height: 32px;
}
