.products {
  position: relative;
  width: 100%;
  flex: 1;
  height: 100%;
  min-height: 0;
  padding: 0 var(--space-7) var(--space-7) var(--space-7);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--space-7);
}

.productsMain {
  height: 100%;
  min-height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-surface);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

/* .productMenu {
  padding: var(--space-2);
} */

.itemList {
  width: 100%;
  padding: var(--space-2);
  flex: 1;
  min-height: 0;
  border-radius: var(--radius);
  overflow-y: auto;
}

.infoComponent h1 {
  font-size: var(--font-size-3xl);
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
}
.infoComponent h2 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
}
