/* Parent Style */
.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main .mainChild {
  width: 100%;
  max-width: 1234px;
  height: max-content;
  padding: var(--space-7);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-6);
}

.section {
  padding: var(--space-10);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-6);
  background-color: var(--background-base);
  border: var(--outline-middle);
  border-top: var(--outline-top);
  border-bottom: var(--outline-bottom);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  user-select: none;
  cursor: pointer;
}
.section svg {
  width: 64px;
  height: 64px;
}
.section .description {
  display: flex;
  flex-direction: column;
  gap: var(--space-0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section h2 {
  font-size: var(--font-size-1xl);
  font-weight: normal;
}
.section h3 {
  font-size: var(--font-size-2xl);
  font-weight: bold;
}

/* Header */
.header {
  padding: 0;
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: row;
  align-items: unset;
  gap: unset;
  background-color: var(--background-base);
  background-image: url(https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_1280.png);
  background-position: center;
  background-size: cover;
  cursor: default;
  overflow: hidden;
}

.status {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: var(--shadow) var(--color-foreground);
}
.clock {
  font-size: var(--font-size-5xl);
  font-weight: bold;
  color: var(--color-foreground);
}
.date {
  font-size: var(--font-size-md);
  font-weight: thin;
  color: var(--color-foreground);
}

.greeting {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
.greeting h1 {
  font-size: var(--font-size-4xl);
  text-shadow: var(--shadow) var(--color-foreground);
}
.greeting span {
  padding: var(--space-0) var(--space-1);
  font-size: var(--font-size-md);
  color: var(--background-base);
  background-color: var(--color-primary);
  box-shadow: var(--shadow) var(--color-foreground);
  border-radius: var(--sub-radius);
}
