/* Parent Style */
.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main .mainChild {
  width: 100%;
  max-width: 1234px;
  height: max-content;
  padding: var(--space-7);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-6);
}

.section {
  height: 160px;
  /*background-color: var(--background-surface);*/
  border: var(--outline-normal);
  border-radius: var(--radius);
}

/* Header */
.header {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: row;
  background-color: var(--background-hover);
  border: none;
}

.status {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: var(--radius);
}
.clock {
  font-size: var(--font-size-5xl);
  font-weight: bold;
  color: var(--color-secondary);
}
.date {
  font-size: var(--font-size-md);
  font-weight: thin;
  color: var(--color-secondary);
}

.greeting {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
