/* Parent Style */
.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main .mainChild {
  width: 100%;
  max-width: 1234px;
  height: max-content;
  padding: var(--space-7);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-6);
}

.section {
  padding: var(--space-10);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-6);
  background-color: var(--background-base);
  border: var(--outline-middle);
  border-top: var(--outline-top);
  border-bottom: var(--outline-bottom);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  user-select: none;
  cursor: pointer;
}
.section svg {
  width: 64px;
  height: 64px;
}
.section .description {
  display: flex;
  flex-direction: column;
  gap: var(--space-0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section h2 {
  font-size: var(--font-size-1xl);
  font-weight: normal;
}
.section h3 {
  font-size: var(--font-size-2xl);
  font-weight: bold;
}
