.dashboard {
  position: relative;
  width: 100%;
  flex: 1;
  min-height: 0;
  padding: 0 var(--space-7) var(--space-7) var(--space-7);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--space-7);
  overflow-y: auto;
}

.dashboardMain {
  min-height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoComponent h1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.infoComponent h2 {
  font-size: var(--font-size-4xl);
  font-weight: 700;
}

.sectionContainer {
  width: max-content;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-7);
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 1870px) {
  .sectionContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1500px) {
  .sectionContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sectionContainer section {
  width: 360px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  cursor: pointer;
}

.sectionIcon {
  width: 100%;
  height: max-content;
  padding: var(--space-5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sectionDescription {
  width: 100%;
  padding: var(--space-5);
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-0);
}
.sectionDescription h1 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 1;
}
.sectionDescription h2 {
  font-size: var(--font-size-4xl);
  font-weight: 600;
  line-height: 1;
}

.avability {
  color: var(--blue-900);
  background-color: var(--blue-100);
}
.avability h1 {
  color: var(--blue-500);
}
.avability svg {
  color: var(--blue-900);
}
.activeStaff {
  color: var(--green-900);
  background-color: var(--green-100);
}
.activeStaff h1 {
  color: var(--green-500);
}
.activeStaff svg {
  color: var(--green-900);
}
.readyStock {
  color: var(--yellow-900);
  background-color: var(--yellow-100);
}
.readyStock h1 {
  color: var(--yellow-500);
}
.readyStock svg {
  color: var(--yellow-900);
}
.outofStock {
  color: var(--red-900);
  background-color: var(--red-100);
}
.outofStock h1 {
  color: var(--red-500);
}
.outofStock svg {
  color: var(--red-900);
}
.categories {
  color: var(--toska-900);
  background-color: var(--toska-100);
}
.categories h1 {
  color: var(--toska-500);
}
.categories svg {
  color: var(--toska-900);
}
.workingHour {
  color: var(--magenta-900);
  background-color: var(--magenta-100);
}
.workingHour h1 {
  color: var(--magenta-500);
}
.workingHour svg {
  color: var(--magenta-900);
}
