/* Parent Style */
.parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-surface);
  border: var(--outline-middle);
  border-top: var(--outline-top);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.main .button {
  width: 100%;
  padding: var(--space-1);
  font-size: var(--font-size-xs);
  text-align: center;
}

.home {
  max-height: 75vh;
  padding: var(--space-6);
  width: 90dvw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-7);
  text-align: center;
  background-color: var(--background-base);
  border-radius: var(--radius);
}
.home img {
  width: 100px;
  height: 100px;
  border-radius: var(--full-radius);
}
.home .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}
.home .title h1 {
  width: max-content;
  max-width: 425px;
  font-size: var(--font-size-3xl);
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
}
.home .title p {
  font-size: var(--font-size-xl);
  font-weight: 400;
  color: var(--color-secondary);
}

@media (max-width: 512px) {
  .main {
    height: 100dvh;
  }
  .main .button {
    padding: var(--space-5);
  }
  .home {
    width: 100dvw;
    height: 100%;
    max-height: 100%;
    gap: var(--space-9);
  }
}

.next {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
}

.next a {
  width: 100%;
  text-align: center;
}

.nextZero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
}
.nextZero a {
  width: 100%;
  padding: var(--space-9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  text-align: center;
}
.nextZero a svg {
  color: inherit;
}
