/* Parent Style */
.parent {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-surface);
  border: var(--outline-middle);
  border-top: var(--outline-top);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.main .button {
  width: 100%;
  padding: var(--space-1);
  font-size: var(--font-size-xs);
  text-align: center;
}

.home {
  max-height: 75vh;
  padding: var(--space-6);
  width: 90dvw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-7);
  text-align: center;
  background-color: var(--background-base);
  border-radius: var(--radius);
}
.home img {
  width: 100px;
  height: 100px;
  border-radius: var(--full-radius);
}
.home .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}
.home .title h1 {
  font-size: var(--font-size-3xl);
}
.home .title p {
  font-size: var(--font-size-xl);
  font-weight: 400;
  color: var(--color-secondary);
}

@media (max-width: 512px) {
  .main {
    height: 100dvh;
  }
  .main .button {
    padding: var(--space-5);
  }
  .home {
    width: 100dvw;
    height: 100%;
    max-height: 100%;
    gap: var(--space-9);
  }
}

.itemList {
  position: relative;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  width: 100%;
  padding: var(--space-4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-3);
  border-radius: var(--radius);
  transition: var(--transition-fast);
  position: relative;
}
.item:hover {
  background-color: var(--background-surface);
}
.item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  border-bottom: var(--outline-thin);
}
.item img {
  width: 50px;
  height: 50px;
  border-radius: var(--radius);
}
.item .title {
  height: 100%;
  min-width: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  gap: var(--space-0);
  text-align: left;
}
.item .title h2 {
  width: 100%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.item .title h3 {
  width: 100%;
  color: var(--color-secondary);
  font-size: var(--font-size-xs);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.status {
  padding-right: var(--space-0);
  display: flex;
  align-items: center;
  gap: var(--space-1);
  font-size: var(--font-size-xs);
  font-weight: 500;
  border-radius: var(--full-radius);
}
.status svg {
  color: inherit;
}
.status.open {
  color: var(--color-success);
  background-color: var(--background-success);
}
.status.closed {
  color: var(--color-primary);
  background-color: var(--color-foreground);
}
.status.inactive {
  color: var(--color-error);
  background-color: var(--background-error);
}

.next {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
}

.next a {
  width: 100%;
  text-align: center;
}

.nextZero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
}
.nextZero a {
  width: 100%;
  padding: var(--space-9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  text-align: center;
}
.nextZero a svg {
  color: inherit;
}
