.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
